.jumbotron{
    margin:0;
    padding:0;
    background-color: white;
}

.row{
    margin:1vh;
    padding:1vh;
}

body{
    background-color: bisque;
}

nav {
    background-color: white;
}

ul {
    background-color: transparent;
}

i {
    padding-left: 5px;
}

span {
    padding-left: 5px;
}

#subjumbotron {
    margin: 1vh;
    padding: 1vh;
}