.jumbotron{
    padding-bottom: 0;
}

.row{
    margin:1vh;
    padding:1vh;
}

body{
    background-color: bisque;
}

i {
    padding-left: 5px;
    padding-right: 5px;
}

span {
    padding-left: 5px;
}

#subjumbotron {
    margin: 1vh;
    padding: 1vh;
}