.jumbotron{
    margin-top: 15vh;
    background-color: white;
}

body{
    background-color: bisque;
}

i {
    padding-left: 5px;
}

span {
    padding-left: 5px;
}

footer {
    margin-top: 15vh;
}

#stats{
    padding-bottom: 5vh;
}