doctype html
head
  include includes/header.pug
  link(rel='stylesheet', href='./css/commands.css')

body
  include includes/navbar.pug

  .container(style='max-width:980px;')
    .jumbotron.text-center.bg-transparent
      h1.display-2 Commands
      hr
    section(id='info commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Info Commands
      .row
        .col-sm-5
          ul.list-group
            li.list-group-item.bg-transparent e help
            li.list-group-item.bg-transparent e profile @user
            li.list-group-item.bg-transparent e serverinfo
            li.list-group-item.bg-transparent e activity @user
            li.list-group-item.bg-transparent e activity top message/voice
            li.list-group-item.bg-transparent e info
            li.list-group-item.bg-transparent e ping
        #commands.col-sm-7
          ul.list-group
            li.list-group-item.bg-transparent Gives help on the bot
            li.list-group-item.bg-transparent Gives info on a specific user
            li.list-group-item.bg-transparent Gives info on the server
            li.list-group-item.bg-transparent Gives info on your activity
            li.list-group-item.bg-transparent Gives info on top message or voice activity
            li.list-group-item.bg-transparent Gives info on the bot
            li.list-group-item.bg-transparent Gives the bot&apos;s ping
    section(id='Fun commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Fun Commands
      .row
        .col-sm-5
          ul.list-group
            li.list-group-item.bg-transparent e meme
            li.list-group-item.bg-transparent e say {message}
            li.list-group-item.bg-transparent e length
            li.list-group-item.bg-transparent e ask
            li.list-group-item.bg-transparent e gay
        #commands.col-sm-7
          ul.list-group
            li.list-group-item.bg-transparent Sends a meme
            li.list-group-item.bg-transparent Says a specific message
            li.list-group-item.bg-transparent Calculates your length
            li.list-group-item.bg-transparent Answers your question
            li.list-group-item.bg-transparent Calculates your gay level
    section(id='Mod commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Mod Commands
      .row
        .col-sm-5
          ul.list-group
            li.list-group-item.bg-transparent e purge {number}
            li.list-group-item.bg-transparent e nickall {name}
            li.list-group-item.bg-transparent e moveall {channel name}
            li.list-group-item.bg-transparent e mute @user or all
            li.list-group-item.bg-transparent e unmute @user or all
            li.list-group-item.bg-transparent e deafen @user or all
            li.list-group-item.bg-transparent e undeafen @user or all
            li.list-group-item.bg-transparent e disconnect @user or all
            li.list-group-item.bg-transparent e autorole {role} or off
            li.list-group-item.bg-transparent e timeoutrole {role}
        #commands.col-sm-7
          ul.list-group
            li.list-group-item.bg-transparent Bulk deletes a number of messages
            li.list-group-item.bg-transparent Nicknames everyone to something
            li.list-group-item.bg-transparent Moves all members to a channel
            li.list-group-item.bg-transparent Mutes a user or everyone
            li.list-group-item.bg-transparent Unmutes a user or everyone
            li.list-group-item.bg-transparent Deafens a user or everyone
            li.list-group-item.bg-transparent Undeafens a user or everyone
            li.list-group-item.bg-transparent Disconnects a user or everyone
            li.list-group-item.bg-transparent Default role (used for automatically giving roles and untimeout)
            li.list-group-item.bg-transparent Sets the timeout role
  
  include includes/footer.pug