doctype html
head
  include includes/header.pug
  link(rel='stylesheet', href='./css/index.css')

body
  include includes/navbar.pug
  .container(style='max-width:980px;')
    #gap.jumbotron.text-center.bg-transparent
      h1.display-3
        | PsyBot  
        i.fas.fa-robot
      p.lead A pretty good bot that you should add!
      a(href='/commands')
        button#mainbuts.btn.btn-dark View commands
      a(href='/invite')
        button#invite.btn.btn-dark Add to discord
      

    .container-fluid.padding
      .row.text-center.padding
        #stats.col-xs-12.col-sm-6.col-md-3
          h1 #{servers}
          h5
            i.i.fab.fa-discord
            | Servers
        #stats.ol-xs-12.col-sm-6.col-md-3
          h1 #{channels}
          h5
            i.fab.fa-slack-hash
            | Channels
        #stats.col-xs-12.col-sm-6.col-md-3
          h1 #{members}
          h5
            i.fas.fa-user
            | Members
        #stats.col-xs-12.col-sm-6.col-md-3
          h1 #{commands}
          h5
            i.fas.fa-code
            | Commands

    hr

  .container(style='max-width:720px;')
    #stopgap.jumbotron.bg-transparent
      h2
        | About
      p PsyBot is a multi-funciontal bot that can take care of moderation and also provide information on your server. Numerous commands include a detailed breakdown of the activity levels of everyone on this server. This bot is also being constantly updated and improved with the latest commands.
  
  .container(style='max-width:980px;')
    hr

  .container(style='max-width:720px;')
    #stopgap.jumbotron.bg-transparent
      h2
        | Features
      b Activity logging: 
      p Creates a very detailed breakdown of people's activities. <br />
      b Moderation commands: 
      p Such as purging channels or muting someone permanently. <br />
      b Automative commands: 
      p Such as changing everyones nicknames or automatic roles. <br />
      b Fun commands: 
      p This includes meme command or 8ball. <br />
  
  include includes/footer.pug
