doctype html
head
  include includes/header.pug
  link(rel='stylesheet', href='./css/index.css')

body
  include includes/navbar.pug
  
  .jumbotron.text-center.bg-transparent
    h1.display-3
      | Ching Chong Bot
      i.fas.fa-robot
    p.lead A pretty good bot that you should add!
    a(href='/invite')
      button.btn.btn-dark Add
  .container-fluid.padding
    .row.text-center.padding
      #stats.col-xs-12.col-sm-6.col-md-3
        h3 #{servers}
        |                 Servers
      #stats.ol-xs-12.col-sm-6.col-md-3
        h3 #{channels}
        |                 Channels
      #stats.col-xs-12.col-sm-6.col-md-3
        h3 #{members}
        |                 Members
      #stats.col-xs-12.col-sm-6.col-md-3
        h3 #{commands}
        |                 Commands
  
  include includes/footer.pug
